@media (max-width: 991px) {
    .navbar .navbar-nav{
        background-color: white;
        border-radius: 7px;
        padding: 15px 0;
        box-shadow: 0 0 5px #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar .navbar-nav .nav-link{
        color: #37aec3;
    }
    .nav-link:hover{
        background-color: #37aec3;
        color:  white !important;
        border: 1px solid #37aec3;
        border-radius: 30px;
        width: 150px !important;
        text-align: center;
    }
 
}